<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:Android="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wanhao.aclassapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ketang"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.AddCourseActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.LodingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.UserMessageActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RemarkActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.DocumentActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.BrowseDocumentActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.HomeWorkActivity" />
        <activity android:name=".activity.DoHomeworkActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.CourseActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <service
            android:name=".backService.DownDocumentService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.wanhao.aclassapp.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.CourseMessageActivity" />
        <activity android:name=".activity.SignActivity" />
        <activity android:name=".activity.SearchActivity" />

        <service
            android:name=".backService.CourseService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <!--<receiver-->
            <!--android:name=".broadcast.MainReceiver"-->
            <!--android:enabled="false"-->
            <!--android:exported="false" >-->
            <!--<intent-filter android:priority="888">-->
                <!--<action android:name="com.example.wanhao.aclassapp.im" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<receiver-->
            <!--android:name=".broadcast.CourseReceiver"-->
            <!--android:enabled="false"-->
            <!--android:exported="false" >-->
            <!--<intent-filter android:priority="999">-->
                <!--<action android:name="com.example.wanhao.aclassapp.im" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<receiver-->
            <!--android:name=".broadcast.DownloadReceiver"-->
            <!--android:enabled="false"-->
            <!--android:exported="false" >-->
        <!--</receiver>-->

    </application>

</manifest>